.NovaDespesa{
    display: flex;
    justify-content: right;
    margin: 70px 20px;
}

.NovaDespesa form{
    margin-top: -75px;
    max-width: 80%;
    background-color: #ffffff;
    padding: 20px 64px;
}

